*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}


div {
    top: 5px;
    left: 5px;
    width: 5rem;
    height: 5rem;
    border-radius: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;


}


.div__button--rot {
    background-color: red;
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 10px;
    left: 10px;

    transition: transform 0.2s linear;

}

.div__button--blau--klein {
    background-color: blue;
    position: absolute;
    top: 6rem;
    left:15rem;

    transition: transform 8s ease;
}



.section:active .div__button--rot {
    transform: translateX(5.4rem);
}

.section:active .div__button--blau--klein {
    transform: translateX(20rem);
}